/* Container for the Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: black; /* Black background color */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed; /* Fixes the navbar at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the navbar is above other content */
}

/* Ensure the main content is not hidden behind the navbar */
body {
  margin: 0;
  padding-top: 80px; /* Adjust based on the navbar height */
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #333; /* Dark gray for the dumbbell background */
  margin: 0 15px;
  position: relative;
  text-transform: uppercase; /* Uppercase text for style */
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Adding pseudo-elements for dumbbell effect with white outline */
.navbar a::before,
.navbar a::after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #333; /* Same color as the background */
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid white; /* White outline around the dumbbell */
}

.navbar a::before {
  left: -60px; /* Adjust to position the left side of the dumbbell */
}

.navbar a::after {
  right: -60px; /* Adjust to position the right side of the dumbbell */
}

/* Hover and active states */
.navbar a:hover {
  background-color: #555; /* Slightly lighter gray on hover */
  color: #ffffff;
}

.navbar a.active {
  background-color: #555; /* Slightly lighter gray for the active state */
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 24px;
  color: white;
  text-align: center;
}
